<main>
  <div class="login">
      <div class="create__account">
              <div class="create__account__title">
                      <h1>Create Account</h1>
              </div>
              <div class="create__account__form">
                <div class="form">
                    <div class="form__name">EMAIL ADDRESS</div>
                    <label for="email" class="form__label">
                        <input  type="text" id="email" placeholder="EMAIL">
                    </label>
                </div>
                <div class="form">
                      <div class="form__name">PASS WORD</div>
                      <label for="password" class="form__label">
                          <input class="form__password" type="password" id="password" placeholder="EMAIL">
                      </label>
                  </div>
                  <div class="form">
                     <button class="form__button animation">CREATE ACCOUNT</button>
                  </div>
              </div>
      </div>
  </div>
</main>
